html {
    background-color:  rgb(26, 26, 26);
}

button {
    border-radius: 5px;
    background-color: rgb(48, 150, 233);
    padding: 5px;
}

/* width
::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: rgba(207, 207, 207, 0.699); 
}


::-webkit-scrollbar-thumb {
    background: rgba(32, 136, 255, 0.562); 
}

 Handle on hover
::-webkit-scrollbar-thumb:hover {
    background: rgba(7, 14, 82, 0.767);
    cursor: pointer;
} */